* {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 16px;
	padding-left: 16px;
}

.intro-chunk {
	padding: 96px 0 48px 0;
}

.title {
	margin-bottom: 40px;
}

.intro-chunk p {
	max-width: 300px;
}

h2 {
	margin: 0;
}

.indented-heading {
	background-color: hsl(45deg, 100%, 50%);
	border-bottom: 8px solid hsl(45deg, 100%, 40%);
	width: fit-content;
	padding: 16px 16px 16px 32px;
	margin-left: -32px;
	margin-bottom: 32px;
}

p {
	margin-top: 24px;
}

p strong {
	font-weight: bold;
	color: hsl(160deg, 100%, 30%);
}

main {
	background-color: hsl(0deg, 0%, 50%);
	border-top: 8px solid hsl(0deg, 0%, 30%);
	padding: 48px 0;
}

.card {
	background-color: white;
	padding: 16px;
	border-bottom: 8px solid hsl(0deg, 0%, 30%);
	margin-left: -16px;
}
